

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #E6FB04;
  z-index: 1;
}

.about{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;
}

.about:hover, .about:active {background: #FF1493;}

.home{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 0.5em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;
  
}

.home:hover, .home:active {background: #FF1493;}

.studio{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 3.5em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;
  
}

.studio:hover, .studio:active {background: #FF1493;}

.lab{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 5em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;

  
}
.lab:hover, .lab:active {background: #FF1493;}

.wrapper{
  position:absolute; 
  left:10px;
  bottom: 350px;
  font-size: 23px;
  margin: 2em;
}

h1 {
    margin: 0;
    position:absolute; 
    font-style: italic;
    font-size: 30px;
    color: #373fff;
    bottom: 400px;


}

h2{
    position:relative; 
    font-style: italic;
    color: #373fff;
    font-size: 30px;
    top: 520px;
  }
  
a:link {
  text-decoration: none;
}

main{
    position:relative; 
    color: white;
    bottom: 249px;
    background: #FF1493;
    padding: 1.5rem;
    top: 474px;

    line-height: 40px;
    font-size: 25px;
}

.main2{
    position:relative; 
    color: white;
        top: 519px;
    background: #FF1493;
    padding: 1.5rem ;

  }

p{
  font-size: 25px;
    position: relative;}

ul.b {list-style-type: square;}

main:hover {
  background-color: yellow;



