/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #E6FB04;
  z-index: 1;
}

h1 {
    margin: 0;
    position:absolute; 
    font-style: italic;
    color: #373fff;
    bottom: 400px;

}

.about{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;

  
}

.home{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 0.5em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;
  
}

.studio{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 3.5em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;
  
}

.lab{
  font-style: italic;
  color: #373fff;
  font-family: helvetica, arial, sans-serif;
  margin: 5em;
  position: absolute;
  font-weight: normal;
  font-size: 36px;
  
}

.wrapper{
  position:absolute; 
  left:10px;
  bottom: 350px;
  font-size: 30 px;
  margin: 2em;
}

ul.b {list-style-type: square;}

